h1{
	color:#1a6600;
	width:200px;
	text-align:center;
}

.border{
	border:6px double #ff4d4d;	
}

.padding{
	padding:5px 10px 5px 10px;
}

.margin{
	margin:15px 10px;
}

.border2{
	border-top:5px inset blue;
	border-bottom:5px dashed red;
	border-left:8px solid yellow;
	border-right:8px dotted orange;
}
body{
	margin:0px;
	padding:0px;
}
