.name{	
	text-align:center;
	font-size:45px;
	color:#078207;
}

.heading-style{
	font-style:italic;
	font-weight:bold;
	color:tomato;
	background-color:lightblue;
	font-size:30px;	
}

.para-style1{	
	font-family:Arial,Helvetica;
	font-size:20px;
	color:white;
	background-color:skyblue;
}

.para-style2{	
	font-family:"Times New Roman",Helvetica;
	font-size:20px;
	color:red;
	background-color:#d8e2f2;	
}
